body{
			margin: 0;
			background-image: url("photos\\img2.png"); 
			background-repeat: no-repeat;
			background-attachment: fixed;
}
.top{
	width: 100%;
	height: 25%;
	background:  #594848;
}
.first{
	width: 100%;
	height: 50%;
	text-align: center;
}
.first img{
	padding-top: 100px;
	width: 250px;
	height: 135px;
}
.languages {
			float: right;
			width: 10%;
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 13px;
}
.languages a{
	        color: white;
			text-decoration: none;
}
.languages a:hover{
	color: skyblue;
}
.second h1{
			font-size: 45px;
			font-family:Castellar;
			font-variant-caps: petite-caps;
			font-style: italic;
			font-weight: bold;
			text-align: center;
            color: #f49e46;	
            margin-bottom: 0px;
}
.second h2{
	        color: grey;
	        font-variant: small-caps;
			font-family: Bahnschrift Light Condensed;			
			padding-top: 0px;
			padding-bottom: 35px;
		    margin-top: 10px;
		    text-align: center;
}
.lista{
			background-color: #8b8b89;
			width: 100%;
			overflow: auto;
			border-top: 5px solid lightgrey;
}
.second{
	margin-bottom: -20px;
}
.lista ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
}
.lista li{
			float: left; 
}
.lista a{
			width: 220px;
			display: block;
			text-decoration: none;
            text-align: center;
            background: #8b8b89;
            font-size: 17px;
            color: white;
            padding: 20px 10px; 
            font-family: Arial;
            margin-left: 185px;
}
.lista a:hover{
			background: #f49e46;
			color: black; 
}
.left, .img{
	width: 40%;
	float: left;
}
.left img, .data img{
	    width: 273px;
        height: 349px;
        object-fit: contain;
        padding-left: 50px;
        position: absolute;
        margin-bottom: 50px;
        margin-left: calc((100% - 980px) * 0.5);
        padding-top: 100px;
        padding-bottom: 100px;  
}
.right, .basic{
	float: right;
	width: 60%;
	height: 600px;
}
.hello, .basic p, .education p, .certificates p, .language p, .skills p{
	font-size: 30px;
	font-weight: bold;
	font-family: Showcard Gothic;
	margin-top: 100px;
	color: maroon;
	margin-left: 40px;

}
.text, .basic ul, .education ul, .certificates ul, .language ul, .skills ul{
	width: 450px;
	height: 200px;
	font-size: 20px;
	font-family: Maiandra GD; 
	color:#001115;
	margin-left: 40px;
}
.education hr, .language hr, .skills hr, .certificates hr{
	width: 450px;
	float: left;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 20px;
	color: black;
	margin-left: 40px;
}
.right a{
	text-decoration: none;
	border: 2px solid black;
	padding: 10px;
	margin-left: 20px;
	margin-left: 50px; 
	font-size: 18px;
	color: black;
	background: transparent;
	width: 150px;

}
footer{
    background:  #8b8b89;
    border-top: 5px solid lightgrey;
    color: #fdd65f;
    text-align: center;
    width: 100%;
    position: relative;
     margin-top: auto;
     bottom: 0px;
    height: 53px;
}
.main{
	 width: 100%;
    height: 600px;
}
.basic ul{
	list-style: none;
	padding: 10px;
}
.education, .certificates, .language, .skills{
	clear: both;
	background: lightgrey;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
.education p, .certificates p, .language p, .skills p{
	padding-top: 15px;
}
.education img, .certificates img, .language img, .skills img{
	height: 200px;
	width: 190px;
	float: right;
	margin-top: -20px;
	margin-right: 10px;
}
.skills img{
	width: 300px;
}
.contact{
	width: 100%;
}

.contact h1{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: Showcard Gothic;
	margin-top: 100px;
	color: maroon;
	
}
.contact img{
	height: 50px;
	width: 50px;
	
}
.submit{
	margin-top: 50px;
	text-align: center;
}
.app{
	text-align: center;
	padding: 30px;
	margin-top: 50px;
	padding-bottom: 94px;
}
.submit input{
	height: 20px;
	width: 150px;
}

